*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    text-align: center;
    font-family: Syne, sans-serif;
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    align-items: center;
    padding: 1em;
  
}

header {
    color: #252525;
    font-family: Syne, cursive;
    margin-bottom: 1em;
    font-size: 1.25em;
}

article {
    color: #272727;
    display: flex;
    border: 1px solid grey;
    width: 90%;
    max-width: 920px;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

article {
    
    border-radius: 13px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

article > img {
    width: 100%;
    max-width: 350px;
}

article > div {
    padding: 0.85em;
    width: 30%;
    flex-grow: 1;
    text-align: left;
}

article h2 {
    margin-bottom: 0.5em;
}

article p {
    font-family: Comic Neue, cursive;
    margin-bottom: 0.5em;
}

.genres {
    color: #262626;
    font-weight: 600;
    font-size: 0.85rem;
    font-family: Syne;
}

.genres > span {
    font-weight: 300;
    font-style: italic;
    
}


iframe {
    /*border: 1px solid red;*/
    width: 100%;
    max-width: 350px;
    height: 42px;
    border-radius: 0 0 0 13px;
    /*flex-grow: 1;*/
    
}

